<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties> 
        <Property name="LOG_PATTERN">$${env:LOGPATTERN:-%d %level %logger %msg %n}</Property>
        <Property name="LOGLEVEL"> $${env:LOG_LEVEL:-DEBUG} </Property>
    </Properties>

    <Appenders>
        <Console name="console" >
         <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>

    <Loggers>
       <logger name="it.mds" level="${LOGLEVEL}" additivity="false">
            <AppenderRef ref="console" />
        </logger>
        <Root level="${LOGLEVEL}">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
